<h1>Novo estabelecimento</h1>

<%= form_with model: @estabelecimento do |form|  %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
    <%= @estabelecimento.errors.full_messages_for(:nome).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cnes %><br>
    <%= form.text_field :cnes %>
    <%= @estabelecimento.errors.full_messages_for(:cnes).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>